h3 {
  display: flex;
  justify-content: center;
  color: white;
  background-color: black;
}

h3:hover {
  color:aqua
}

.card-container {
  display: inline-block;
}

a {
  background-color: olivedrab;
  border-radius: 5px;
  color: white;
  padding: 10px;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin: 10px;
}


