h3 {
  display: flex;
  justify-content: center;
  color: white;
  background-color: black;
}

h3:hover {
  color:aqua
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  border: 1px solid black;
  background-color: olivedrab;
  color: white;
  display: flex;
  justify-content: center;
  width: 200px;
  margin: 10px;
}


